[submodule "carts"]
	path = carts
	url = https://github.com/Deron-D/carts.git
[submodule "front-end"]
	path = front-end
	url = https://github.com/Deron-D/front-end.git
[submodule "user"]
	path = user
	url = https://github.com/Deron-D/user.git
[submodule "shipping"]
	path = shipping
	url = https://github.com/Deron-D/shipping.git
[submodule "queue-master"]
	path = queue-master
	url = https://github.com/Deron-D/queue-master.git
[submodule "msd-java"]
	path = msd-java
	url = https://github.com/Deron-D/msd-java.git
[submodule "catalogue"]
	path = catalogue
	url = https://github.com/Deron-D/catalogue.git
[submodule "orders"]
	path = orders
	url = https://github.com/Deron-D/orders.git
[submodule "payment"]
	path = payment
	url = https://github.com/Deron-D/payment.git
