[submodule "carts"]
	path = carts
	url = ../../gitlab-instance-711bf56d/carts
[submodule "front-end"]
	path = front-end
	url = ../../gitlab-instance-711bf56d/front-end
[submodule "user"]
	path = user
	url = ../../gitlab-instance-711bf56d/user
[submodule "shipping"]
	path = shipping
	url = ../../gitlab-instance-711bf56d/shipping
[submodule "queue-master"]
	path = queue-master
	url = ../../gitlab-instance-711bf56d/queue-master
[submodule "msd-java"]
	path = msd-java
	url = ../../gitlab-instance-711bf56d/msd-java
[submodule "orders"]
	path = orders
	url = ../../gitlab-instance-711bf56d/orders
[submodule "catalogue"]
	path = catalogue
	url = ../../gitlab-instance-711bf56d/catalogue
[submodule "payment"]
	path = payment
	url = ../../gitlab-instance-711bf56d/payment
