{{ define "cart-build" }}
---
{{ $_ := set . "BaseImage" "ubuntu:22.04" }}

image: builder
from: {{ .BaseImage }}
shell:
  beforeInstall:
   - apt update -q
   - apt install -y mvn
  install:
  - mvn -DskipTests package

