{{ define "carts-build" }}
---
{{ $_ := set . "BaseImage" "openjdk:11.0.16-jdk-slim" }}

image: builder
from: {{ .BaseImage }}
shell:
  install:
   - apt update -q
  setup:
  - mvn -DskipTests package
{{ end }}
